body {
    font-family: Arial;
    background-image:url("calc.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    text-align: center;
    
}

.calculator {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background:rgba(255, 253, 253, 0.771);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(4, 20, 45);
}

input {
    width: 100%;
    padding: 6px;
    margin: 10px 0;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}
